body{
    font-family: "Montserrat", sans-serif;
}

.card{
    width: 280px;
    height: 390px;
    border: 1px solid gray;
} 
.course-card{
    width: 290px;
    height: 430px;
    border: 3px solid grey;
    border-radius: 2px;
}
.photo{
    width: 275px;
    height: 140px;
    /* border-radius: 50px; */
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aqua;
}
.home-container{
     display: flex;
     
}
.card-container{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.h3-style{
    font: bold;
    font-style: italic;
    font-size: large;
}