body{
    font-family: "Montserrat", sans-serif;
    /* background: url('https://i.ibb.co/JB1y0X5/4690.jpg'),
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.card{
    width: 280px;
    height: 390px;
    border: 1px solid gray;
} 
.course-card{
    width: 290px;
    height: 430px;
    border: 3px solid grey;
    border-radius: 2px;
}
.photo{
    width: 275px;
    height: 140px;
    /* border-radius: 50px; */
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aqua;
}
.home-container{
     display: flex;
     
}
.card-container{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.h3-style{
    font: bold;
    font-style: italic;
    font-size: large;
}